ul.messages
    each message in messages
        li.messages__item(class= message.yours? 'messages__item_my': '')
            span.messages__author= message.author
            span.messages__text!= `&mdash; ${message.text}`
