.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font: 20px Arial;

    &__item {
        padding: 5px 10px;
        background: #ddd;
        &:nth-child(odd) {
            background: #eee;
        }
    }

    &__author,
    &__text {
        display: block;
    }

    &__author {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 5px;

        &:first-letter {
            text-transform: uppercase;
            font-weight: 900;
        }
    }
    &__text {
        font-style: italic;
        color: #777;
    }
}