form.signup
    h1.title Registration
    .field(data-component='field', data-options={
        'placeholder': 'login',
        'type': "text",
        'name': 'login'
    })
    .field(data-component='field', data-options={
        'placeholder': 'password',
        'type': 'password',
        'name': 'password'
    })
    .field(data-component='field', data-options={
        'placeholder': 'password-repeat',
        'type': 'password',
        'name': 'password-repeat'
    })
    .button(data-component='button', data-options={
        'text': 'Button'
    })
    br
    a.link(href='#login')= 'Authorization'