h1="Список компонентов"

div.messages(data-component="messages", data-options={
  messages: [
    {author: 'tanya', text: 'привет', yours: false},
    {author: 'ilia', text: 'привет', yours: true}
  ]
})

